#searchButtonDiv {
	margin-top:20px;
}

#inputFields {
	display:none;	
}

#newButtonDiv {
	margin-right:20px;
}

body {
	background-color: lightblue;
}

#appointmentHeader {
	text-align: center;
	margin-top:20px;
}